.user-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
    height: 42px;
    color: rgba(0, 0, 0, .5);
}

.user-icon {
    margin-left: 0.5rem;
    flex-shrink: 0;
}

.username-text {
    flex-grow: 1;
    text-align: center;
    margin: auto;
    font-weight: 600;
}

.sign-out-button {
    flex-shrink: 0;
    margin-right: 0.5rem;
    border-radius: 5px;
    padding: 5px 5px;
}

.sign-out-button:hover {
    background-color: #CCCCCC;
}